html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0px;
  position: absolute;
  margin: 10;
  top: 10px;
  right: 10px;

  color: transparent;
  text-shadow: 0 0 0px white;
}